<%= render "user_show" %>

<div class='user_bio'><h3>Bio</h3><p><%= @user.bio %></p></div>

<div>
<% @posts.each do |post| %>
  <div class='post_container'>
  <div class='post_element'>
   <h3><%= link_to post.title, [post.author, post] %></h3>
   <p><%= post.text%></p>
   <span>Comments: <%= post.comments_counter%>, Likes: <%= post.likes_counter%></span>
   </div>
   </div>
<% end %>
</div>

<div><%= link_to "See All Posts", user_posts_path(@user) %></div>