<%= render "users/user_show" %>
<div>
  <% @posts.each do |post| %>
    <div class='post_container'>
      <div class='post_element'>
        <h2>
          <%= link_to post.title, user_post_path(@user, post) %>
        </h2>
        <p>
          <%= post.text %>
        </p>
        <span>
          Comments:<%= post.comments_counter %>, Likes: <%= post.likes_counter %>
        </span>
      </div>
      <div class='comment_element'>
        <% post.comments.includes(:author).limit(5).each do |comment| %>
          <p>
            <strong>
              <%= comment.author.name %>:
            </strong>
            <%= comment.text %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="pagination">
  <%= link_to "New Post", new_user_post_path %><%= link_to "Paginations", users_path %>
</div>