<div class='post_element'>
  <div class='post_header'>
    <h2>
      <%= @post.title %> by <%= User.find(@post.author_id).name %>
    </h2>
    <span>
      Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %>
    </span>
  </div>
  <p>
    <%= @post.text %>
  </p>
  <%= render "form" %>
</div>

<div class='comment_element'>
  <% @comments.each do |comment| %>
    <p>
      <strong>
        <%= comment.author.name %>:
      </strong>
      <%= comment.text %>
    </p>
  <% end %>
</div>

<%= render 'comment_form' %>

<div>
  <%= link_to 'Paginations', users_path%>
</div>